
.main-content {
    min-height: 100vh;
    background-color: #f5f7fa;
    color: #333;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
        
        
.welcome {
    margin-top: 40px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 30px;
    
    text-align: center;
}
        
.welcome h1 {
    color: #2d5883;
    margin-bottom: 10px;
}
        
.welcome p {
    color: #666;
    line-height: 1.6;
}
        
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}
        
.stat-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
}
        
.stat-card h3 {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
    margin-top: 0px;
}
        
.stat-value {
    font-size: 2rem;
    font-weight: bold;
    color:#2c3e50;
}
        
.stat-trend {
    margin-top: 10px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.recent-activity {
    background-color: white;
    border-radius: 8px;
    padding: 25px;
    margin-top: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05)
}
        
.recent-activity h2 {
    color: var(--secondary);
    margin-bottom: 20px;
}
        
.activity-list {
    list-style: none;
}
        
.activity-item {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: flex-start;
    transition: background 0.2s;
}
        
.activity-item:last-child {
    border-bottom: none;
}
        
.activity-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #2d5883;
    font-size: 1.2rem;
    flex-shrink: 0;
}
        
.activity-content {
    flex: 1;
}
        
.activity-title {
    font-weight: 500;
    margin-bottom: 5px;
    color: #2c3e50;
}
        
.activity-time {
    font-size: 0.8rem;
    color: #777;
}
.sin-actividad {
    text-align: center;
    padding: 40px;
    color: #777;
    font-style: italic;
}
/*RESPONSIVE*/
@media (max-width = 1000px){
    .Contenido-inicio {
        margin-left: 0; /* sin espacio reservado */
        padding: 20px;
}
}
