.caja-contenido{
    flex: 1;
    background-color: #f1f5f9;
    padding: 2rem;
}
.encabezado h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: #0d1e41;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.buscador{
    display: grid; /*hace que ocupe el 50 50*/
    grid-template-columns: 1fr 1fr; /*divide en 2 columnas*/
    gap: 15px;
    margin-top: 15px;
}
.buscador select,
.buscador input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.tablaborde{
    margin-top: 20px;
    overflow-x: auto;
    background: #fff;
    padding: 1rem;
    border-radius: .75rem;
    box-shadow: 0 0 6px #0000000d;
}
.tabla{
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; 
    min-width: unset;
}
.th th{
    background-color: #e5edf5;
    color: #0d1e41;
}
td, th{
    padding: 10px;
    border: none;
    text-align: center;
    border-bottom: 1px solid #acacb4; /* Línea entre filas */
}
/*RESPONSIVE*/
@media (max-width: 1109px){
.caja-contenido{
    padding: 6rem 1.5rem;
}
}
@media (max-width: 600px){
.buscador{
    grid-template-columns: 1fr; /*cambia a una columna*/
}
}